/* GENERAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../img/natural-pattern.png');
  font-family: 'Roboto', sans-serif;
}

#container {
  width: 900px;
  max-width: 100%;
  margin: 25px auto;
}

/* HEADER */

.top {
  background-image: url('../img/natural-header.jpg');
  background-size: cover;
  text-align: center;
  border: 15px solid rgb(255,255,255);
  padding: 45px 10px;
}

.top img {
  width: 45%;
}

.top h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: rgb(255,255,255);
}

.nav {
  background-color: rgb(105,105,105);
  text-align: center;
}

.nav .menu li {
  display: inline-block;
  padding: 5px 20px;
}

.nav .menu li a {
  color: rgb(255,255,255);
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  text-decoration: none;
}

/* MAIN */

main {
  margin-top: 15px;
}

.main::after {
  content: '';
  display: table;
  clear: both;
}

.col {
  float:left;
  border-radius: 5px;
}

.left {
  background-color: rgb(255,255,255);
  width: 25%;
  height: 200px;

}
